{% extends 'loginbase.html.twig' %}

{% block title %}Register in TaskLinker{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
        <h1 class="title-login">
            S'inscrire
        </h1>
        <div class="each-field">
            {{ form_row(registrationForm.employe.nom) }}        
        </div>
        <div class="each-field">
            {{ form_row(registrationForm.employe.prenom) }}
        </div>
        <div class="each-field">
            {{ form_row(registrationForm.employe.email) }}
        </div>
        <div class="each-field">
            {{ form_row(registrationForm.plainPassword) }}
        </div>
        <div class="each-field">
            {{ form_row(registrationForm.password_confirm) }}
        </div>
        <div class="each-field">
            {{ form_row(registrationForm.employe.dateArrivee) }}
        </div>
        <div class="each-field">
            <button class="button button-submit">Continuer</button>
        </div>
        <a href="{{ path('app_login') }}">Vous avez déjà un compte?</a>
    {{ form_end(registrationForm) }}
{% endblock %}

