{% extends 'loginbase.html.twig' %}

{% block title %}Register in TaskLinker{% endblock %}

{% block body %}
    {{ form_start(formUser) }}
        <h1 class="title-login">
            S'inscrire
        </h1>
        <div class="each-field">
            {{ form_row(formUser.employe.nom) }}        
        </div>
        <div class="each-field">
            {{ form_row(formUser.employe.prenom) }}
        </div>
        <div class="each-field">
            {{ form_row(formUser.email) }}
        </div>
        <div class="each-field">
            {{ form_row(formUser.password) }}
        </div>
        <div class="each-field error">
            {{ form_errors(formUser) }}
        </div>
        <div class="each-field">
            <button class="button button-submit">Continuer</button>
        </div>
        <a href="{{ path('app_login') }}">Vous avez déjà un compte?</a>

    {{ form_end(formUser) }}
{% endblock %}

