{% extends 'loginbase.html.twig' %}

{% block title %}Register in TaskLinker{% endblock %}

{% block body %}
    {{ form_errors(form1) }}
    {{ form_start(form1) }}
        <h1 class="title-login">
            S'inscrire
        </h1>
        <div class="each-field">
            {{ form_row(form1.employe.nom) }}        
        </div>
        <div class="each-field">
            {{ form_row(form1.employe.prenom) }}
        </div>
        <div class="each-field">
            {{ form_row(form1.employe.email) }}
        </div>
        <div class="each-field">
            {{ form_row(form1.password) }}
        </div>
        <div class="each-field">
            {{ form_row(form1.password_confirm) }}
        </div>
        <div class="each-field">
            {{ form_row(form1.employe.dateArrivee) }}
        </div>
        <div class="each-field">
            <button class="button button-submit">Continuer</button>
        </div>
        <a href="{{ path('app_login') }}">Vous avez déjà un compte?</a>
    {{ form_end(form1) }}
{% endblock %}
