{% block title %}Sign in TaskLinker{% endblock %}

{% block body %}
<h1> TaskLinker</h1>

<div id="logo-login">
<h2 class="title-login">S'inscrire</h2>

{{ form_start(form1) }}
{{ form_row(form1.nom) }}
{{ form_row(form1.prenom) }}
{{ form_row(form1.email) }}
{{ form_row(form1.password) }}
{{ form_row(form1.password_confirm) }}
{{ form_row(form1.dateArrivee) }}
<button class="button button-submit">Continuer</button>
{{ form_end(form1) }}


<a href="{{ path('app_login') }}">Vous avez déjà un compte?</a>
</div>
{% endblock %}
